<% provide(:title, 'Signin') %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="Pragma" content="no-cache" />
		<%= stylesheet_link_tag 'reset-fonts' %>
		<%= stylesheet_link_tag 'gt-styles' %>
	</head>
	<body>
		
		<!-- login form head -->
		<div class="gt-login-hd">
			Signin
		</div>
		
		<!-- login box -->
		<div class="gt-login-box">
			<!-- login form -->
			<div class="gt-form">
				<!-- form row -->
				<div class="gt-form-row">
				<%= form_for(:session, url: sessions_path) do |f| %>



<% flash.each do |key, value| %> 
		 <div class="status error">
        	<!-- <p class="closestatus"><a href="" title="Close">x</a></p> -->
        	<p><%= image_tag 'icons/icon_error.png', :alt => 'Whoops!' %><span><%= key %></span> <%= value %></p>
        </div>
		 <% end %>
					<label class="gt-login-label">Email</label>
					<%= f.text_field :email, :class => 'gt-form-text' %>
				</div><!-- /form row -->
				
				<!-- form row -->
				<div class="gt-form-row">
					<label class="gt-login-label">Password</label>
					<%= f.password_field :password, :class => 'gt-form-text' %>
				</div><!-- /form row -->
				
				<!-- form row -->
				<div class="gt-form-row">
					<%= f.submit 'Sign in', :class => 'gt-btn-blue-medium gt-btn-left' %>
					<% end %>
				</div>
				<!-- /form row -->
				
				<p class="gt-forgot-password">New user? <%= link_to 'Sign up now.', signup_path %></p>
				
			</div><!-- /login form -->
		</div><!-- /login box -->
		
		
	</body>
</html>
