<% provide(:title, @user.name) %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta http-equiv="Expires" content="Tue, 01 Jan 1980 1:00:00 GMT" />
		<meta http-equiv="Pragma" content="no-cache" />
		<%= stylesheet_link_tag 'reset-fonts' %>
		<%= stylesheet_link_tag 'gt-styles' %>
		
	</head>
	<body>
		<!-- head -->
		<div class="gt-hd clearfix">
			<!-- leaf watermark -->
			<div class="gt-leaf-watermark clearfix">
			
			<!-- head top -->
			<div class="gt-hd-top clearfix">
			
				<div class="gt-fixed-wrap clearfix">
			
				<!-- logo -->
				<div class="gt-logo">
					Propertygate
				</div>
				<!-- / logo -->
				
				<!-- utility box -->
				<% if signed_in? %>
				<div class="gt-util-box">
					<div class="gt-util-box-inner">
						<p>welcome <strong><%= current_user.name %></strong> <span class="gt-util-separator">|</span> <%= link_to "Sign out", signout_path, method: "delete" %></p>
					</div>
				</div>
<% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
				<!-- / utility box -->
				
				</div>
			
			</div><!-- /head top -->
			
			<!-- navbar -->
			<div class="gt-navbar clearfix">
				
				<div class="gt-fixed-wrap clearfix">
				
				<!-- navigation -->
				<div class="gt-nav">
					<ul>
						<li><a href="index.html">Home</a></li>
						<li><a href="base.html">Base HTML</a></li>
						<li><a class="gt-active" href="tables.html">Tables</a></li>
						<li><a href="forms.html">Forms</a></li>
						<li><a href="text-styles.html">Text Styles</a></li>
						<li><a href="buttons.html">Buttons</a></li>
						<li><a href="login.html">Login</a></li>
					</ul>
				</div><!-- / navigation -->
				
				<!-- search -->
				<div class="gt-search"><div class="gt-search-inner">
					<input type="text" class="gt-search-text" value="Search" onfocus="javascript:if(this.value=='Search')this.value='';" onblur="javascript:if(this.value=='')this.value='Search';" />
				</div></div>
				
				</div>
				
			</div><!-- /navbar -->			
		</div><!-- /leaf watermark -->
		</div>
		<!-- / head -->
		
		<!-- body -->
		<div class="gt-bd gt-cols clearfix">
			
			<!-- main content -->
			<div class="gt-content">

				<!-- User Settings Form -->
				<!-- This form can be used for user settings -->
				<h2 class="gt-form-head">Update your profile</h2>
				<div class="gt-form gt-content-box">
				
					<div class="clearfix">
						<!-- left column -->
						<div class="gt-left-col">
							<!-- form row -->
							<%= form_for(@user) do |f| %>
							<%= render 'shared/error_messages' %>


							<% flash.each do |key, value| %> 
		 <div class="status success">
        	<p class="closestatus"><a href="" title="Close">x</a></p>
        	<p><%= image_tag 'icons/icon_success.png', :alt => 'Success' %><span><%= key %></span> <%= value %></p>
        </div>
		 <% end %>								

							<div class="gt-form-row gt-width-66">
								<label>Name</label>
								<%= f.text_field :name, :class => 'gt-form-text' %>
							</div><!-- /form row -->
							
							<!-- form row -->
							<div class="gt-form-row gt-width-66">
								<label>Email</label>
								<%= f.text_field :email, :class => 'gt-form-text' %>
							</div><!-- /form row -->
							
							<!-- form row -->
							<div class="gt-form-row gt-width-66">
								<label>Password</label>
								<%= f.password_field :password, :class => 'gt-form-text' %>
							</div><!-- /form row -->

							<!-- form row -->
							<div class="gt-form-row gt-width-66">
								<label>Confirm Password</label>
								<%= f.password_field :password_confirmation, :class => 'gt-form-text' %>
							</div><!-- /form row -->

						</div><!-- /left column -->
						
						<!-- right column -->
						<div class="gt-right-col">
							<!-- form row -->
							<div class="gt-form-row gt-width-66">
								<label>Language</label>
								<label class="gt-form-element-label"><input type="radio" name="gt-sample" class="gt-form-radio" /> English</label>
								<label class="gt-form-element-label"><input type="radio" name="gt-sample" class="gt-form-radio" /> Spanish</label>
								<label class="gt-form-element-label"><input type="radio" name="gt-sample" class="gt-form-radio" /> French</label>
							</div><!-- /form row -->
							
							<!-- form row -->
							<div class="gt-form-row gt-width-66">
								<label>Dashboard Displays</label>
								<label class="gt-form-element-label"><input type="checkbox" class="gt-form-checkbox" /> Recent Posts</label>
								<label class="gt-form-element-label"><input type="checkbox" class="gt-form-checkbox" /> Recent Comments</label>
								<label class="gt-form-element-label"><input type="checkbox" class="gt-form-checkbox" /> Category List</label>
							</div><!-- /form row -->
						</div><!-- /right column -->
					
					</div>
					
					<!-- form row -->
					<div class="gt-form-row">
						<%= f.submit 'Save changes', :class => 'gt-btn-blue-medium' %>
						<% end %>
					</div>
					<!-- /form row -->
					
				</div>
				<!-- /User Settings Form -->
				
				
				
				
			</div>
			<!-- / main content -->
			
			<!-- sidebar -->
			<div class="gt-sidebar">
				<!-- Sidebar Navigation -->
				<div class="gt-sidebar-nav gt-sidebar-nav-gray">
					<h3>Quick Links</h3>
					<ul>
						<li><a href="">Add a New Post</a></li>
						<li><a href="">Edit User Settings</a></li>
						<li><a href="">View Live Site</a></li>
					</ul>
				</div><!-- /Sidebar Navigation -->
				
				<!-- Sidebar Box -->
				<div class="gt-sidebar-box gt-sidebar-box-blue">
					<!-- search -->
					<div class="gt-search"><div class="gt-search-inner">
						<input type="text" class="gt-search-text" value="Find an Article" onfocus="javascript:if(this.value=='Find an Article')this.value='';" onblur="javascript:if(this.value=='')this.value='Find an Article';" />
					</div></div><!-- /search -->
				</div><!-- /Sidebar Box -->
				
				
				<!-- Sidebar Content -->
				<div class="gt-sidebar-content">
					<h3>Author Contact</h3>
					<p>John Marker<br />
					1756 Main Court<br />
					City, State 12345, Country</p>
					
					<p>email: <a href="">john.marker@example.com</a></p>
					
					<p>phone: 123-555-1356</p>
					
					<p>aim: johnmarker</p>
				</div><!-- /Sidebar Content -->
				
				<!-- Sidebar List -->
				<div class="gt-sidebar-list">
					<h3>Recent Users</h3>
					<ul class="gt-sidebar-list-content">
						<li class="gt-sidebar-list-row">
							<img class="gt-avatar-small" src="images/gt/avatar-small.gif" alt="avatar-small" width="25" height="25"/>
							<h4><a href="">John Marker</a></h4>
							<p>I love to color pictures!</p>
						</li>
						
						<li class="gt-sidebar-list-row">
							<img class="gt-avatar-small" src="images/gt/avatar-small.gif" alt="avatar-small" width="25" height="25"/>
							<h4><a href="">Charlee Watts</a></h4>
							<p>Eco-friendly is the way to go!</p>
						</li>
					</ul>
				</div><!-- /Sidebar List -->
			</div>
			<!-- / sidebar -->
			
		</div>
		<!-- / body -->
		
		<!-- footer -->
		<div class="gt-footer"><div class="gt-footer-inner">
			<p>Copyright &copy; 2010 Gooey Templates - <a href="http://www.gooeytemplates.com" target="_blank">GooeyTemplates.com</a></p>
		</div></div>
		<!-- /footer -->
	</body>
</html>
